* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  /*background-color: #000;*/
  display: flex;
}
/*----------------------------------------------------------------*/

.encabezado {
  width: 99%;
  height: 10vh;
  background-color: #999;
  font-size: 30px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  box-sizing: border-boxs;
  opacity: 1;

  /*animation-name: encabezado;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;*/
}
#progress {
  position: fixed;
  left: 0;

  width: 100%;
  height: 1em;

  background: #0b0;

  z-index: 1;

  transform-origin: 0 50%;

  animation: barraProgresos 2s linear;
  animation-timeline: scroll();
}

@keyframes barraProgreso {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
/*----------------------------------------------------*/
h1 {
  width: 100%;
  color: #fff;
  text-align: center;
}

@keyframes encabezado {
  to {
    width: 13vh;
    opacity: 0.4;
    font-size: 20px;
  }
}

/*.encabezado h1:hover {
}*/

/*----------------------------------------------------------------*/

.cards-container {
  margin-top: 20px;
  width: auto;
  padding: 20px;
  border-radius: 25px;
  border: solid 3px #fff;
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  row-gap: 30px;
  column-gap: 30px;
  position: relative;
}

.card-style {
  position: static;
  box-sizing: border-box;
  border: solid 1px #000;
  border-radius: 20px;
  padding: 15px;
  max-width: 260vw;
  min-height: 40vh;
  transition:
    background 400ms linear,
    scale 400ms ease-in-out,
    box-shadow 1.5s ease;
}

.image-character {
  border-radius: 20px;
  transition-duration: 1s linear;
}
.card-style:hover {
  scale: 1.05;
  background: #cfa;
  box-shadow: 0 0 30px 0 #0b0;
}

.image-character:hover {
  box-shadow: 0 0 40px 0 #fff;
}

.nombre-personaje {
  font-size: 30px;
  text-align: justify;
}
